html
  head
    title My Great Pugzor Site
    block scripts
      script(src='/jquery.js')
  body
    h1 This is from the layout
    block content
    block foot
      #footer
        p some footer content